@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body {
height: 100vh;
width: 100%;
display: flex;
flex-direction: column; /* Set the flex-direction to column */
background-image: url(pexels-fwstudio-129731.jpg);

}



#navbar {
display: flex;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
background: #fae9fb;
color: #fff;
padding: 10px;
padding-left: 0px;
z-index: 1000;
}

#navbar::before {
content: "";
background-color: #EEBF87;
position: absolute;
z-index: -1;
height: 100%;
width: 100%;
}

#navbar ul {
display: flex;
}

#navbar ul li {
list-style-type: none;
}

#navbar ul li a {
text-decoration: none;
padding: 8px;
color: white;
border-radius: 24px;
}

#navbar ul li a:hover {
color: red;
background-color: white;
}

#logo {
margin-top: 4px;
margin-left: 4px;
}

#logo img {
height: 40px;
width: 100px;
margin: 6px;
border: 3px solid white;
border-radius: 30px;
}

@media screen and (max-width: 410px) {
#navbar {
 flex-direction: column;
}
}

.container {
  z-index: 12;
  max-width: 100%;
  width: calc(100% - 40px); /* Adjust width for smaller screens */
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 150px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
}



.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}
.content .image-box{
  max-width: 55%;
}
.content .image-box img{
  width: 100%;
}
.content .topic{
  font-size: 22px;
  font-weight: 500;
  color:#d1872d;
}
.content form{
  width: 40%;
  margin-right: 30px;
}
.content .input-box{
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}
.content .input-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding-left: 16px;
  background: #fae9fb;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.content .input-box input:focus,
.content .input-box input:valid{
  border-color:#d1872d;
  background-color: #fff;
}
.content .input-box label{
  position: absolute;
  left: 18px;
  top: 50%;
  color: #4c5358;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label{
  top: 0;
  left: 12px;
  display: 14px;
  color:#d1872d;
  background: #fff;
}
.content .message-box{
  min-height: 100px;
  position: relative;
}
.content .message-box textarea{
  position: absolute;
  height: 100%;
  width: 100%;
  resize: none;
  background: #fae9fb;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
}
.content .message-box textarea:focus{
  border-color: #d1872d;
  background-color: #fff;
}
.content .message-box label{
  position: absolute;
  font-size: 16px;
  color: #636c72;
  left: 18px;
  top: 6px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.content .message-box textarea:focus ~ label{
  left: 12px;
  top: -10px;
  color:#d1872d;
  font-size: 14px;
  background: #fff;
}
.content .input-box input[type="submit"]{
  color: #fff;
  background:#d1872d;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.content .input-box input[type="submit"]:hover{
  background-color: #d1872d;
}
@media (max-width:1000px) {
  .content .image-box{
    max-width: 70%;
  }
  .content{
    padding: 10px 0;
  }
}
@media (max-width:900px) {
  .content .image-box{
    display: none;
  }
  .content form{
    width: 100%;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .container {
      width: calc(100% - 80px); /* Adjust width for larger screens */
      margin-top: 100px; /* Adjust margin top for larger screens */
  }
}

@media screen and (min-width: 1200px) {
  .container {
      max-width: 1050px; /* Set max-width for very large screens */
      margin-top: 150px; /* Adjust margin top for very large screens */
  }
}